apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql-app
  template:
    metadata:
      labels:
        app: mysql-app
    spec:
      serviceAccountName: mysql
      containers:
      - name: operator
        image: roflmaoinmysoul/mysql-operator:1.0.0