apiVersion: v1
kind: Config
clusters:
- name: minikube
  cluster:
    certificate-authority-data: 
    server: 
users:
- name: cd
  user:
    token: 
contexts:
- name: homework-context
  context:
    cluster: minikube
    user: cd
    namespace: homework
current-context: homework-context