apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.app.configMap_nginx.name }}
  namespace: {{ .Release.Namespace }} 
data:
  nginx.conf: |
    http {

        server {
            listen 8000;
            server_name homework.otus;

            location / {
                root /homework;
                index index.html;
            }
            location /conf/dbuser {
                alias /conf/dbuser;
            }
            location /conf/dbpass {
                alias /conf/dbpass;
            }
            location /metrics {
                alias /metrics/metrics.html;
            }
        }
    }

    events {
        worker_connections  1024;
    }