apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.app.configMap.name }}
  namespace: {{ .Release.Namespace }} 
  annotations:
    "helm.sh/hook": pre-install
    "helm.sh/hook-weight": "-3"
data:
  dbuser: {{ .Values.app.configMap.dbuser | quote }}
  dbpass: {{ .Values.app.configMap.dbpass | quote }}