apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.app.deployment.name }}
  namespace: {{ .Release.Namespace }} 
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.app.deployment.selector.matchLabels.app }}
  strategy:
    rollingUpdate:
      maxSurge: {{ .Values.app.deployment.rollingUpdate.maxSurge }} 
      maxUnavailable: {{ .Values.app.deployment.rollingUpdate.maxUnavailable }} 
    type: {{ .Values.app.deployment.type }} 
  template:
    metadata:
      labels:
        app: {{ .Values.app.deployment.labels.app }} 
    spec:
      serviceAccountName: {{ .Values.app.deployment.serviceAccountName }} 
      nodeSelector:
        homework: {{ .Values.app.deployment.nodeSelector.homework | quote }} 
      volumes:
        {{- range .Values.app.deployment.volumes }}
        - name: {{ .name }}
          {{- if eq .type "pvc" }}
          persistentVolumeClaim:
            claimName: {{ .pvcName }}
          {{- else if eq .type "configMap" }}
          configMap:
            name: {{ .configMapName }}
          {{- else if eq .type "emptyDir" }}
          emptyDir: {}
          {{- end }}
        {{- end }}
      initContainers:
      - name: {{ .Values.app.deployment.initContainers.name }}
        image: {{ .Values.app.deployment.initContainers.image.repository }}:{{ .Values.app.deployment.initContainers.image.tag }}
        command: {{- toYaml .Values.app.deployment.initContainers.command | nindent 10 }}
        args:
          {{- toYaml .Values.app.deployment.initContainers.args | nindent 10 }}
        volumeMounts:
          {{- range .Values.app.deployment.initContainers.volumeMounts }}
          - name: {{ .name }}
            mountPath: {{ .mountPath }}
          {{- end }}
      containers:
      - name: {{ .Values.app.deployment.containers.name }}
        image: {{ .Values.app.deployment.containers.image.repository }}:{{ .Values.app.deployment.containers.image.tag }}
        readinessProbe:
          exec:
            {{- if .Values.probes.enabled }}
            command: {{- toYaml .Values.app.deployment.containers.readinessProbe.exec.command | nindent 14 }}
            {{- end }}
        lifecycle:
          preStop:
            exec:
              command: {{- toYaml .Values.app.deployment.containers.lifecycle.preStop.exec.command | nindent 16 }}
        ports:
          {{- range .Values.app.deployment.containers.ports }}
          - containerPort: {{ .containerPort }}
          {{- end }}
        volumeMounts:
          {{- range .Values.app.deployment.containers.volumeMounts }}
          - name: {{ .name }}
            mountPath: {{ .mountPath }}
            {{- if .subPath }}
            subPath: {{ .subPath }}
            {{- end }}
          {{- end }}