apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Values.app.ingress.metrics.name }}
  namespace: {{ .Values.namespace }}
spec:
  rules:
  - host: {{ .Values.app.ingress.metrics.host }}
    http:
      paths:
      - path: {{ .Values.app.ingress.metrics.path }}
        pathType: {{ .Values.app.ingress.metrics.pathType }}
        backend:
          service:
            name: {{ .Values.app.service.name }}
            port:
              number: {{ .Values.app.service.port }}